$white: #FFFFFF;
$gray: #D5DDE0;

$primary-color: #418DE8;
$secondary-color: #FFC369;

$bg-color-1: #E9EFFC;
$bg-color-2: #F5F8FF;

$btn-color-1: #E5EDFF;
$btn-color-2: #edffe5;

$font-color-1: #818FB3;
$font-color-2: #455273;