$white: #FFFFFF;
$gray: #D5DDE0;
$gray-dark-1: #BABDC2;
$red: #E0301E;

$primary-color: #418DE8;
$secondary-color: #FFC369;

$bg-color-1: #E9EFFC;
$bg-color-2: #F5F8FF;

$btn-color-1: #E5EDFF;
$btn-color-2: #edffe5;

$font-color-1: #818FB3;
$font-color-2: #455273;

$order-vertical-margin: 30px;