@import 'normalize';
@import 'vars';
@import 'fonts';

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Cera Pro', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: $bg-color-1;
  color: $font-color-2;
};

.link{
  text-decoration: none;
  color: $primary-color;
}

.separate{
  $this: &;
  width: 100%;
  border-bottom: 1px dashed $gray;
  &--solid{
    border-bottom: 1px solid $gray;
  }
}

@import 'components/input';
@import 'components/order';
@import 'components/water';