.date-picker{
  &__subtitle{
    color: $gray-dark-1;
    font-size: 13px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
  }
  &__slider{
    display: flex;
    margin: 15px -7.5px;
  }
  &__button{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 40px;
    height: 40px;
    background: $btn-color-1;
    border: 2px solid $btn-color-1;
    margin: 0 7.5px;
    border-radius: 200px;
    cursor: pointer;
  }
  &__arrow{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border: 2px solid $btn-color-1;
    background: transparent;
    &:hover{
      opacity: .5;
    }
    &--right{
      &::before{
        transform: rotate(180deg);
      }
    }
    &::before{
      position: absolute;
      margin: 0 auto;
      content: '';
      width: 12px;
      height: 12px;
      background: url('/assets/img/icons/i-arrow.svg') no-repeat center transparent;
      background-size: contain;
    }
  }
  &-item{
    $this: &;
    display: flex;
    flex-direction: column;
    transition: .25s;
    &__title{
      font-weight: 500;
      color: $font-color-2;
    }
    &__subtitle{
      font-size: 10px;
      color: $font-color-1;
      text-transform: uppercase;
    }
    &--weekend{
      #{$this}__subtitle{
        color: $red-2;
      }
    }
    &--selected{
      background: $secondary-color;
      border: 2px solid $secondary-color;
      #{$this}__title{
        color: $white;
      }
      #{$this}__subtitle{
        color: $white;
      }
    }
  }
}