.input {
  input {
    width: 100%;
    border: 0;
    background: transparent;
    border-bottom: 1px solid $gray;
    padding: 15px 0;
    color: $font-color-2;
    &:focus{
      outline: 0;
    }
    &::placeholder{
      color: $gray;
      user-select: none;
    }
  }
  &--invalid{
    input{
      border-bottom: 1px solid $red;
      &::placeholder {
        color: $red;
      }
    }
  }
}

.checkbox {
  display: inline-flex;
  user-select: none;
  cursor: pointer;
  &__btn {
    position: relative;
    display: flex;
    cursor: pointer;
    margin-right: 15px;
    &:before{
      content: '';
      background: url('/assets/img/icons/i-check.svg') no-repeat center;
      border-radius: 3px;
      left: 0;
      top: 0;
      width: 18px;
      height: 18px;
      background-color: $bg-color-2;
      border: 1px solid $gray;
    }
  }
  & input {
    display: none;
  }
  & input:checked + &__btn:before{
    background-color: $primary-color;
    border: none;
    width: 20px !important;
    height: 20px !important;
  }
}