.order{
  max-width: 1400px;
  display: flex;
  margin: 30px auto;
  align-items: center;
  justify-content: space-between;
  &-preview{
    max-width: 260px;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    &__title{
      font-size: 30px;
      margin: 25px 0 0 0;
    }
    &__desc{
      color: $font-color-1;
      line-height: 25px;
      margin-top: 40px;
    }
  }
  &-form{
    width: 900px;
    padding: 40px;
    background: $bg-color-2;
    border-radius: 8px;
  }
  &-customer-form{
    margin-bottom: $order-vertical-margin;
    & .input {
      min-width: 34%;
      flex: 1;
      padding-left: 80px;
      padding-top: 15px;
    }
    &__inputs{
      margin-top: 25px;
      margin-left: -80px;
      display: flex;
      flex-wrap: wrap;
    }
    &__title{
      font-size: 30px;
      font-weight: 600;
    }
    &__policy{
      margin-top: 40px;
    }
  }
  &-total{
    margin: $order-vertical-margin 0;
    font-size: 25px;
    &-price{
      font-weight: 500;
      &__float{
        color: $gray-dark-1;
      }
    }
    &__top{
      display: flex;
      justify-content: space-between;
    }
    &__title{
      font-weight: bold;
    }
    &__hr{
      margin-top: 15px;
    }
  }
  &-row{
    display: flex;
  }
  &-col{
    display: flex;
    width: calc(50% - 40px);
    margin-left: 80px;
    &:first-child{
      margin-left: 0;
    }
  }
}