.order{
  max-width: 1400px;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  align-items: flex-start;
  &-preview{
    max-width: 260px;
    margin-top: 285px;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    &__title{
      font-size: 30px;
      margin: 25px 0 0 0;
    }
    &__desc{
      color: $font-color-1;
      line-height: 25px;
      margin-top: 40px;
    }
  }
  &-form{
    width: 980px;
    margin: 60px 0;
    &__container{
      margin: 40px;
    }
    background: $bg-color-2;
    border-radius: 8px;
    &-title{
      $this: &;
      display: flex;
      align-items: center;
      &__label{
        font-size: 30px;
        font-weight: 600;
      }
      &__img{
        margin-right: 15px;
        display: none;
      }
      &--success{
        #{$this}__img{
          display: block;
        }
      }
    }
    &__label{
      margin-top: 20px;
      font-size: 20px;
    }
    &__success{
      margin-top: 40px;
    }
  }
  &-customer-form{
    margin-bottom: $order-vertical-margin;
    margin-top: 25px;
    & .input {
      min-width: 34%;
      flex: 1;
      padding-left: 80px;
      padding-top: 15px;
    }
    &__inputs{
      margin-top: -15px;
      margin-left: -80px;
      display: flex;
      flex-wrap: wrap;
    }
    &__policy{
      margin-top: 40px;
    }
  }
  &-total{
    margin: $order-vertical-margin 0;
    font-size: 25px;
    &-price{
      font-weight: 500;
      &__float{
        color: $gray-dark-1;
      }
    }
    &__top{
      display: flex;
      justify-content: space-between;
    }
    &__title{
      font-weight: bold;
    }
    &__hr{
      margin-top: 15px;
    }
  }
  &-row{
    display: flex;
    width: 100%;
    max-width: 100%;
    &__separate{
      display: none;
    }
  }
  &-col{
    display: flex;
    flex-direction: column;
    margin: $order-vertical-margin 0;
    width: calc(50% - 40px);
    margin-left: 80px;
    &:first-child{
      margin-left: 0;
    }
    &__title{
      font-size: 24px;
      font-weight: bold;
      margin-bottom: 20px;
    }
  }

  @media screen and (max-width: 1450px) {
    flex-direction: column;
    &-preview{
      display: none;
    }
    &-form{
      margin: 0 auto;
      margin-top: 60px;
    }
  }

  @media screen and (max-width: 1000px) {
    margin: 0 20px;
    &-form{
      width: 100%;
      margin: 20px 0;
    }
    &-row{
      width: 100%;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      &__separate{
        display: block;
      }
    }
    &-col{
      width: 100%;
      margin-left: 0px;
    }
  }

  @media screen and (max-width: 850px) {
    &-customer-form{
      &__inputs{
        flex-direction: column;
      }
    }
  }

  @media screen and (max-width: 600px) {
    margin: 0;
    &-form{
      margin: 0;
      background: transparent;
      &__container{
        margin: 40px 30px;
        background: transparent
      }
    }
  }
}